*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #426686;
    font-size: 2rem;
    font-weight: 500;
}
h2{
    color: #658ec6;
    font-size: 1.2rem;
    font-weight: 400;
}
p{
    font-size: 1rem;
    font-weight: 300;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top,
     #5073d4, #5ac0f0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.glass{
    min-height: 80vh;
    width: 60%;
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    z-index: 2;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
}

.cercle1,.cercle2{
    height: 15rem;
    width: 15rem;
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    position: absolute;
    border-radius: 50%;
}

.cercle1{
    top: 5%;
    right: 10%;
}
.cercle2{
    bottom: 5%;
    left: 10%;
}

.utilisateur img{
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 50%;
}

.tableau-bord{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.lien{
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
}

.lien img{
    margin: 0 1rem;
    height: 32px;
}

.pro-join{
    background: linear-gradient(to right top,
    #5073d4, #5ac0f0);
    color:#fff;
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    border-radius: 2.5rem;
}
 
.pro-join img{
    position: absolute;
    top:-8%;
    right: 4%;
    
}

.pro-join p{
    width:67%
}

.jeux{
    flex: 2;
    padding: 2rem;
}

.status{
    margin-bottom: 1rem 0;

}
.status input{
    border:none;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card{
    display: flex;
    margin: 0.5rem 0rem;
    padding: 1rem;  
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left top,
     rgba(255,255,255,0.9), 
     rgba(255,255,255,0.5));
    box-shadow: 6px 6px 20px rgba(173, 173, 173, 0.3);
    border-radius: 1.5rem;    
}

.infos{
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.progress{
    background: linear-gradient(to right top, 
    #5073d4, #5ac0f0);
    width: 100%;
    height: 1.2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(178, 203, 250);
    position: absolute;
    left: 60%;
}
